# Server
PORT=4000
NODE_ENV=development

# Database local
DB_USER=postgres
DB_PASSWORD=
DB_HOST=172.25.224.1
DB_PORT=5432
DB_NAME=capstone-db
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# Database docker
# DB_USER=admin
# DB_PASSWORD=rahasia
# DB_HOST=db-postgres
# DB_PORT=5432
# DB_NAME=capstone_db
# DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# JWT
JWT_SECRET=secret_key
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:3000

# File Upload
MAX_FILE_SIZE=5242880

# Gemini API
GEMINI_API_KEY=AIzaSyD8EQDx7tysajyXtWs5SBZdkOgVlZ3uHb4

# SerpAPI Key
SERPAPI_API_KEY=53523d06566b77d9d6809c709562744a7a1ed8e1f55aa9b3b617951ec7574072

# Oauth Secret
GOOGLE_CLIENT_ID=758437853066-5gjkent2ontc1jtmc6r0bhbk5td9nuav.apps.googleusercontent.com

# ML API
ML_API_URL=https://job-title-api-842754562942.asia-southeast2.run.app/predict
